:root {
  --link-color: #1d4ed8;
  --light-bg: #ffffff;
  --dark-bg: #000000;
  --light-font: #000000;
  --dark-font: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--dark-bg);
    --font-color: var(--dark-font);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--light-bg);
    --font-color: var(--light-font);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--font-color);
  /* font-family: verdana, arial, sans-serif, helvetica; */
}

.container {
  width: 810px;
  max-width: 100%;
  margin: 0 auto 10px;
}

main {
  background-color: var(--bg);
  color: var(--font-color);
  padding: 1rem;
  min-height: 300px;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: var(--font-color);
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
footer li {
  padding: 0.1rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

label, textarea, input {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--font-color);
  background-color: var(--bg);
}
